[submodule "vendor-boost"]
	path = vendor/boost
	url = ../vendor-boost.git
[submodule "vendor-cudd"]
	path = vendor/cudd
	url = ../vendor-cudd.git
[submodule "vendor-debian"]
	path = vendor/debian
	url = ../vendor-debian.git
[submodule "vendor-eve"]
	path = vendor/eve
	url = ../vendor-eve.git
[submodule "vendor-iverilog"]
	path = vendor/iverilog
	url = ../vendor-iverilog.git
[submodule "vendor-libftdi"]
	path = vendor/libftdi
	url = ../vendor-libftdi.git
[submodule "vendor-Parsec"]
	path = vendor/Parsec
	url = ../vendor-Parsec.git
[submodule "vendor-sha1"]
	path = vendor/sha1
	url = ../vendor-sha1.git
[submodule "vendor-stp"]
	path = vendor/stp
	url = ../vendor-stp.git
[submodule "vendor-systemc"]
	path = vendor/systemc
	url = ../vendor-systemc.git
[submodule "vendor-tcltk"]
	path = vendor/tcltk
	url = ../vendor-tcltk.git
[submodule "vendor-usb-driver"]
	path = vendor/usb-driver
	url = ../vendor-usb-driver.git
[submodule "vendor-verific"]
	path = vendor/verific
	url = ../vendor-verific.git
[submodule "vendor-yices"]
	path = vendor/yices
	url = ../vendor-yices.git
[submodule "flexlm-external"]
	path = vendor/flexlm
	url = ../flexlm-external.git
